
AOC/obj/Debug/net6.0/AOC.csproj.CoreCompileInputs.cache
AOC/bin/Debug/net6.0/AOC.dll
AOC/bin/Debug/net6.0/AOC.pdb
AOC/obj/Debug/net6.0/AOC.csproj.CoreCompileInputs.cache
AOC/obj/Debug/net6.0/AOC.dll
AOC/obj/Debug/net6.0/AOC.pdb
AOC/obj/Debug/net6.0/ref/AOC.dll
AOC/obj/Debug/net6.0/refint/AOC.dll
AOC/bin/Debug/net6.0/AOC.deps.json
AOC/bin/Debug/net6.0/AOC.dll
AOC/bin/Debug/net6.0/AOC.exe
AOC/bin/Debug/net6.0/AOC.pdb
AOC/bin/Debug/net6.0/AOC.runtimeconfig.json
AOC/obj/AOC.csproj.nuget.dgspec.json
AOC/obj/AOC.csproj.nuget.g.props
AOC/obj/AOC.csproj.nuget.g.targets
AOC/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
AOC/obj/Debug/net6.0/AOC.AssemblyInfo.cs
AOC/obj/Debug/net6.0/AOC.AssemblyInfoInputs.cache
AOC/obj/Debug/net6.0/AOC.assets.cache
AOC/obj/Debug/net6.0/AOC.csproj.AssemblyReference.cache
AOC/obj/Debug/net6.0/AOC.csproj.CoreCompileInputs.cache
AOC/obj/Debug/net6.0/AOC.csproj.FileListAbsolute.txt
AOC/obj/Debug/net6.0/AOC.dll
AOC/obj/Debug/net6.0/AOC.GeneratedMSBuildEditorConfig.editorconfig
AOC/obj/Debug/net6.0/AOC.genruntimeconfig.cache
AOC/obj/Debug/net6.0/AOC.GlobalUsings.g.cs
AOC/obj/Debug/net6.0/AOC.pdb
AOC/obj/Debug/net6.0/apphost.exe
AOC/obj/Debug/net6.0/ref/AOC.dll
AOC/obj/Debug/net6.0/refint/AOC.dll
AOC/obj/project.assets.json
AOC/obj/project.nuget.cache
AOC/obj/project.packagespec.json
AOC/obj/rider.project.restore.info
